* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 2;
}

body {
    background: lavender;
}
/*title in header (name)*/

.name {
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    background-color: #eeccff8a;
    border: 5px solid #f2b3ff;
    border-radius: 5px;
}

/* navigation menu */

#bar {
    width: 100%;
    background: rgba(230, 230, 250, 0.329);
    border-radius: 5px;
}

/* for desktop/ widescreen users*/
#bar label, #lines {
    display: none;
}
/* navigation menu items*/
#menu-items {
    display: flex;
}
#menu-items a {
    padding: 15px;
    color: black;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 5px;
}

#menu-items a:hover {
    background: #beb3ff76;
    border:5px solid #aa99ff9f;
    border-radius: 5px;
}

/*about me section*/
.bio {
    border: 5px solid #f2b3ff77;
}
.bio, #profile {
    background: #eeccff61;
    line-height: 3;
    border-radius: 10px;
    padding: 12px;
    display: flex;
}
/*image specs for about me*/
#profile {
    padding: 5px;
    background-color: #eeccff61;
    width: 800px;
}
/*text specs for about me*/
.text {
    background: #eeccff61;
    border-radius: 5px;
    line-height: 5;
}

#about-me {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #eeccff61;
    padding: 10px;
    font-size: 30px;
}

.about {
    display: flex;
    flex-direction: column;
    background: #eeccff61;
    line-height: 3;
}
p {
    text-indent: 20px;
}

/*portfolio section*/
#portfolio {
    font-size: 30px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #beb3ff9c;
    border: 5px solid #aa99ff86;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
h3 {
    text-align: center;
}
.main-card {

}
.container {
    background-color: #eeccffb8;
    border: 5px solid #f2b3ff;
    padding: 0px;
    margin: 5px;
    border-radius: 5px;
    line-height: 0;
}
.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 0;
}
.card-image{
    width:30vw;
}

.main-image {
    width: 80vw;
}

/*contact section*/

#contact-me {
    font-size: 30px;
    text-decoration: none;
    background-color: #beb3ff9c;
    border: 5px solid #aa99ff86;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.contact {
    list-style-type: none;
    display: inline;
    text-align: center;
    background-color: #beb3ff9c;
    border: 5px solid #aa99ff86;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 8px;
}

.first {
    order: 1;
}

.second {
    order: 2;
}

.third {
    order: 3;
}

/*footer image*/

#cherry {
    position: fixed;
    top: -1dvh;
    left: 48vw;
    width: 54%;
    z-index: -1;
}



/*phones; small screens specified*/



/*menu for small screens; hamburger*/
@media screen and (max-width: 768px) {
    #menu-items {
        display: flex;
        flex-direction: column;
    }
    #menu-items a {
        width: 100%;
        box-sizing: border-box;
        border: 3px solid #eeccff;
    }
    #bar label {
        display: inline-block;
        color: #BFB3FF;
        font-size: 40px;
        font-style: normal;
        padding: 15px;
    }
    #menu-items {
        display: none ;
    }
    #bar input:checked ~ #menu-items {
        display: flex;
    }

    /*about me section*/
    .bio, #profile, .text, #about-me, .about {
        background: #eeccff64;
        display: flex;
        flex-direction: column;
    }
    .bio {
        border: 5px solid #f2b3ff;
        border-radius: 5px;
    }
    #profile {
        display: flex;
        width: auto;
        border-radius: 5px solid;
    }
    #about-me {
        text-align: center;
    }
    .about {
        padding: 0 20px;
        margin: 10 10px;
    }
    /*portfolio section*/

    .main-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .all {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card-image {
        justify-content: center;
        width:inherit;
    }
    /*contact information section*/

    address {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .contact {
        margin: 5px;
    }
    /*cherry blossom image*/
    #cherry {
        position: fixed;
        top: -10dvh;
        left: 15vw;
        width: 100%;
        z-index: -1;
    }
    
}


